/*Reset css*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Times New Roman;
}

/*Member details*/
.member_det {
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 5%;
}

.member_det .sectiontop {
	border: 1px solid;
	height: 9cm;
	padding: 1px;
	width: 8.5cm;
}

.member_det .section h1 {
	color: #000;
	font-weight: bold;
	letter-spacing: 0;
}

.member_det .section .img_con {
    clear: left;
    float: right;
    height: 120px;
    margin-top: 15px;
    overflow: hidden;
    width: 80px;
}

.member_det .section .img_con img {
	padding: 3px 2px;
	position: relative;
	top: -12px;
}

.section.sectiontop div {
	display: inline-block;
}

.section.sectiontop div.inner-container {
	display: block;
	margin: 8px;
}

.member_det .section ul {
    clear: left;
    font-size: 13px;
    line-height: 1.8em;
    list-style: outside none none;
    margin-top: 5px;
}

.member_det .section ul li {
	margin-top: 5px;
}

.member_det .section ul span {
	font-weight: bold;
	font-size: 13px;
}

.member_det .section ul a {
	text-decoration: none;
}